<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<head>
<meta charset="utf-8">
<title>Index</title>
<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.min.css}">
<link rel=”stylesheet” type="text/css"
	th:href="@{/stylesheets/main.css}">
<script th:src="@{/javascript/bootstrap.min.js}"></script>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-lg">
			<a class="navbar-brand" href="#">Navbar</a>
		</div>
	</nav>
	<div class="container-lg">
		<h1>Internal server error</h1>
	</div>
</body>
</html>