<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<title>Admin Home</title>
<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel=”stylesheet” type="text/css"
	th:href="@{/stylesheets/main.css}">
<script th:src="@{/javascript/bootstrap.min.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">
	<th:block th:include="base::nav-block"></th:block>
	<div class="container-lg">
		<div sec:authorize="isAuthenticated()" class="pt-2">
			<span class="h1 ml-5">Hello,</span>
			<span class="mx-3 h4" style="color: #0d6efd"
				sec:authentication="name"></span>
		</div>
		<div class="pt-4 row">
			<div class="col-sm-1">
				<form th:action="@{/view}" method="get">
					<button type="submit" class="btn btn-primary">View</button>
				</form>
			</div>
			<div class="col-sm-1">
				<form id="logoutForm" method="POST" th:action="@{/logout}">
					<button type="button" class="btn btn-primary"
						onclick="document.forms['logoutForm'].submit()">Logout</button>
				</form>
			</div>
		</div>
		<!-- <div class="pt-4" style="display: flex;">
			<form th:action="@{/view}" method="get">
				<button type="submit" class="btn btn-primary">View</button>
			</form>
			<form id="logoutForm" method="POST" th:action="@{/logout}">
				<button type="button"
					class="btn btn-primary position-relative float-right"
					onclick="document.forms['logoutForm'].submit()">Logout</button>
			</form>
		</div> -->
	</div>
	<br>
	<div class="container-lg">
		<p th:if="${emptyList} == true" class="text-center">There are no
			entries available.</p>
		<div
			th:classappend="${not #maps.isEmpty(entries)} ? 'table-responsive visible' : 'invisible'">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">EmailId</th>
						<th scope="col">Message</th>
						<th scope="col">Entry Image</th>
						<th scope="col">Date</th>
						<th scope="col">Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody th:each="instance : ${entries}">
					<tr th:each="entry: ${instance.value}">
						<td th:text="${instance.key}"></td>
						<td th:text="${entry.entryText}"></td>
						<td th:text="${entry.entryImage}"></td>
						<td th:text="${entry.lastUpdated}"></td>
						<td th:if="${entry.isApproved} == false">
							<form
								th:action="@{/approve/__${instance.key}__/__${entry.entryId}__}"
								method="post">
								<button type="submit" class="btn btn-primary btn-sm">Approve</button>
							</form>
						</td>
						<td th:if="${entry.isApproved} == true">
							<i class="bi bi-check-circle-fill" style="color: green"></i>
						</td>
						<td>
							<a id="btn" data-bs-toggle="modal" data-backdrop="static"
								th:attrappend="data-bs-target='#staticBackdrop'+${entry.entryId},data-target=${instance.key},data-target=${entry.entryText},data-target=${entry.entryId},data-target=${entry.entryImage}">
								<i class="bi bi-pencil-fill" style="color: #0d6efd"></i>
							</a>
							<div class="modal fade" th:id="staticBackdrop+${entry.entryId}"
								data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
								aria-labelledby="staticBackdropLabel" aria-hidden="true"
								th:attrappend="emailId=${instance.key},entryText=${entry.entryText},entryId=${entry.entryId},entryImage=${entry.entryImage}">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="staticBackdropLabel">Edit
												entry</h5>
										</div>
										<div class="modal-body">
											<form th:object="${guestEntryUpdateDto}"
												th:action="@{/update}" method="post" id="entryForm"
												name="entryForm">
												<div class="mb-3">
													<label for="emailId" class="form-label">Email Id</label>
													<input type="text" class="form-control" id="emailId"
														th:value="${instance.key}" th:name="emailId" readonly>
												</div>
												<div class="mb-3">
													<label for="entryText" class="form-label">Message </label>
													<input type="text" class="form-control" id="entryText"
														th:value="${entry.entryText}" th:name="entryText">
												</div>
												<div class="mb-3">
													<label for="entryImage" class="form-label">Entry
														Image</label>
													<input type="text" class="form-control" id="entryImage"
														th:value="${entry.entryImage}" th:name="entryImage">
												</div>
												<input type="hidden" th:value="${entry.entryId}"
													th:name="entryId" id="entryId">
												<button type="submit" class="btn btn-primary">Submit</button>
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Close</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<span class="p-2"></span>
							<a data-bs-toggle="modal"
								th:attrappend="data-bs-target='#deleteBackDrop'+${entry.entryId}">
								<i class="bi bi-trash-fill" style="color: #0d6efd"></i>
							</a>
							<div class="modal fade" th:id="deleteBackDrop+${entry.entryId}"
								data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
								aria-labelledby="deleteBackDropLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="deleteBackDropLabel">Confirm
												delete</h5>
										</div>
										<div class="modal-body">
											<form
												th:action="@{/delete/__${instance.key}__/__${entry.entryId}__}"
												method="get" id="deleteForm" name="deleteForm">
												<p class="text-start">Are you sure you want to delete
													the entry?</p>
												<br>
												<button type="submit" class="btn btn-primary">Delete</button>
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Cancel</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<th:block th:include="base::footer-block"></th:block>
</body>
</html>