<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<head>
<meta charset="utf-8">
<title>Register</title>
<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.min.css}">
<link rel=”stylesheet” type="text/css"
	th:href="@{/stylesheets/main.css}">
<script th:src="@{/javascript/bootstrap.min.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">
	<th:block th:include="base::nav-block"></th:block>
	<br>
	<div class="container-lg">
		<p class="h3">Sign Up</p>
		<br>
		<form th:object=${registrationDto} th:action="@{/register}"
			method="post">
			<div th:if="${userAlreadyExists}"
				class="has-error alert alert-danger" th:text="${userAlreadyExists}"></div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email Id</label>
				<input type="email"
					th:classappend="${#fields.hasErrors('emailId')} ? 'form-control is-invalid' : 'form-control'"
					style="width: 350px;" id="exampleInputEmail1"
					aria-describedby="emailHelp" th:field="*{emailId}">
				<div id="validationServerEmailIdFeedback" class="invalid-feedback"
					th:errors="*{emailId}"></div>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password"
					th:classappend="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
					style="width: 350px;" id="exampleInputPassword1"
					th:field="*{password}">
				<div id="validationServerPasswordFeedback" class="invalid-feedback"
					th:errors="*{password}"></div>
			</div>
			<div class="mb-3">
				<label for="exampleInputFullName1" class="form-label">Full
					Name</label>
				<input type="text"
					th:classappend="${#fields.hasErrors('fullName')} ? 'form-control is-invalid' : 'form-control'"
					style="width: 350px;" id="exampleInputFullName1"
					th:field="*{fullName}">
				<div id="validationServerFullNameFeedback" class="invalid-feedback"
					th:errors="*{fullName}"></div>
			</div>
			<div class="mb-3">
				<label for="exampleInputMobileNumber1" class="form-label">Mobile
					Number</label>
				<input type="text"
					th:classappend="${#fields.hasErrors('mobileNumber')} ? 'form-control is-invalid' : 'form-control'"
					style="width: 350px;" id="exampleInputMobileNumber1"
					th:field="*{mobileNumber}">
				<div id="validationServerMobileNumberFeedback"
					class="invalid-feedback" th:errors="*{mobileNumber}"></div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<br>
	<th:block th:include="base::footer-block"></th:block>
</body>
</html>