<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>

<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.min.css}">
<link rel=”stylesheet” th:href="@{/stylesheets/guestbook.css}">
<script th:src="@{/javascript/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-lg">
		<nav class="navbar navbar-dark bg-dark">
			<div class="container-fluid">
				<span class="navbar-brand mb-1 h1">Welcome</span>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="#">Register</a>
						</li>
						<li class="breadcrumb-item">
							<a href="#">Log In</a>
						</li>
					</ol>
				</nav>
			</div>
		</nav>
	</div>
</body>
</html>