<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<head>
<meta charset="utf-8">
<title>Welcome</title>
<link rel="stylesheet" th:href="@{/stylesheets/bootstrap.min.css}">
<link rel=”stylesheet” type="text/css"
	th:href="@{/stylesheets/main.css}">
<script th:src="@{/javascript/bootstrap.min.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">
	<th:block th:include="base::nav-block"></th:block>
	<div class="pt-2">
		<div class="container-lg">
			<span class="h1 ml-5">Welcome to the Guestbook</span>
			<br>
			<br>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item h4">
						<a th:href="@{/register}">Register</a>
					</li>
					<li class="breadcrumb-item h4">
						<a th:href="@{/login}">Sign In</a>
					</li>
				</ol>
			</nav>
		</div>
	</div>
	<th:block th:include="base::footer-block"></th:block>
</body>
</html>